In [507]:
import pandas as pd
import numpy as np

In [508]:
data  = pd.read_csv('Absenteeism_data.csv')
data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [509]:
data = data.drop(['ID'], axis=1)
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [510]:
data['Date'] = pd.to_datetime(data['Date'],format='%d/%m/%Y')

In [511]:
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,2015-07-07,289,36,33,239.554,30,1,2,1,4
1,0,2015-07-14,118,13,50,239.554,31,1,1,0,0
2,23,2015-07-15,179,51,38,239.554,31,1,0,0,2
3,7,2015-07-16,279,5,39,239.554,24,1,2,0,4
4,23,2015-07-23,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,2018-05-23,179,22,40,237.656,22,2,2,0,8
696,6,2018-05-23,225,26,28,237.656,24,1,1,2,3
697,10,2018-05-24,330,16,28,237.656,25,2,0,0,8
698,23,2018-05-24,235,16,32,237.656,25,3,0,0,2
699,28,2018-05-31,291,31,40,237.656,25,1,1,1,2

In [512]:
def extract_month(x):
    return x.month

In [513]:
data['Date'][0].day_of_week

1

In [514]:
data['Month Value'] = data['Date'].apply(extract_month)
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...
695,10,2018-05-23,179,22,40,237.656,22,2,2,0,8,5
696,6,2018-05-23,225,26,28,237.656,24,1,1,2,3,5
697,10,2018-05-24,330,16,28,237.656,25,2,0,0,8,5
698,23,2018-05-24,235,16,32,237.656,25,3,0,0,2,5
699,28,2018-05-31,291,31,40,237.656,25,1,1,1,2,5

In [515]:
def extract_day_of_week(x):
    return x.day_of_week

In [516]:
data['Day of the Week'] = data['Date'].apply(extract_day_of_week)
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,10,2018-05-23,179,22,40,237.656,22,2,2,0,8,5,2
696,6,2018-05-23,225,26,28,237.656,24,1,1,2,3,5,2
697,10,2018-05-24,330,16,28,237.656,25,2,0,0,8,5,3
698,23,2018-05-24,235,16,32,237.656,25,3,0,0,2,5,3
699,28,2018-05-31,291,31,40,237.656,25,1,1,1,2,5,3

In [517]:
data['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [518]:
np.sort(data['Reason for Absence'].unique())

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [519]:
reason_for_absence = pd.get_dummies(data=data['Reason for Absence'], dtype=int, drop_first=True)
reason_for_absence

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [520]:
reason_1 = reason_for_absence.loc[:, 1:14]
reason_2 = reason_for_absence.loc[:, 15:17]
reason_3 = reason_for_absence.loc[:, 18:21]
reason_4 = reason_for_absence.loc[:, 22:]

In [521]:
reason_1 = reason_1.max(axis=1)
reason_1

0      0
1      0
2      0
3      1
4      0
      ..
695    1
696    1
697    1
698    0
699    0
Length: 700, dtype: int32

In [522]:
reason_2 = reason_2.max(axis=1)
reason_3 = reason_3.max(axis=1)
reason_4 = reason_4.max(axis=1)

In [523]:
data = data.drop(['Reason for Absence', 'Date'], axis=1)
data.head()

,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,289,36,33,239.554,30,1,2,1,4,7,1
1,118,13,50,239.554,31,1,1,0,0,7,1
2,179,51,38,239.554,31,1,0,0,2,7,2
3,279,5,39,239.554,24,1,2,0,4,7,3
4,289,36,33,239.554,30,1,2,1,2,7,3

In [524]:
new_data = pd.concat([data, reason_1, reason_2, reason_3, reason_4], axis=1)
new_data

,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week,0,1,2,3
0,289,36,33,239.554,30,1,2,1,4,7,1,0,0,0,1
1,118,13,50,239.554,31,1,1,0,0,7,1,0,0,0,0
2,179,51,38,239.554,31,1,0,0,2,7,2,0,0,0,1
3,279,5,39,239.554,24,1,2,0,4,7,3,1,0,0,0
4,289,36,33,239.554,30,1,2,1,2,7,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,179,22,40,237.656,22,2,2,0,8,5,2,1,0,0,0
696,225,26,28,237.656,24,1,1,2,3,5,2,1,0,0,0
697,330,16,28,237.656,25,2,0,0,8,5,3,1,0,0,0
698,235,16,32,237.656,25,3,0,0,2,5,3,0,0,0,1
699,291,31,40,237.656,25,1,1,1,2,5,3,0,0,0,1

In [525]:
new_data.columns.values

array(['Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week', 0, 1, 2, 3], dtype=object)

In [526]:
column_names = ['Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week', 'Reason Type 1', 'Reason Type 2', 'Reason Type 3', 'Reason Type 4']

In [527]:
new_data.columns = column_names
new_data.head()

,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week,Reason Type 1,Reason Type 2,Reason Type 3,Reason Type 4
0,289,36,33,239.554,30,1,2,1,4,7,1,0,0,0,1
1,118,13,50,239.554,31,1,1,0,0,7,1,0,0,0,0
2,179,51,38,239.554,31,1,0,0,2,7,2,0,0,0,1
3,279,5,39,239.554,24,1,2,0,4,7,3,1,0,0,0
4,289,36,33,239.554,30,1,2,1,2,7,3,0,0,0,1

In [528]:
column_names_reordered = ['Reason Type 1', 'Reason Type 2', 'Reason Type 3', 'Reason Type 4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [529]:
new_data = new_data[column_names_reordered]
new_data.head()

,Reason Type 1,Reason Type 2,Reason Type 3,Reason Type 4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2