In [1]:
import pandas as pd
import numpy as np

In [3]:
data  = pd.read_csv('Absenteeism_data.csv')
data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [5]:
data = data.drop(['ID'], axis=1)
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [9]:
data['Date'] = pd.to_datetime(data['Date'],format='%d/%m/%Y')

In [11]:
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,2015-07-07,289,36,33,239.554,30,1,2,1,4
1,0,2015-07-14,118,13,50,239.554,31,1,1,0,0
2,23,2015-07-15,179,51,38,239.554,31,1,0,0,2
3,7,2015-07-16,279,5,39,239.554,24,1,2,0,4
4,23,2015-07-23,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,2018-05-23,179,22,40,237.656,22,2,2,0,8
696,6,2018-05-23,225,26,28,237.656,24,1,1,2,3
697,10,2018-05-24,330,16,28,237.656,25,2,0,0,8
698,23,2018-05-24,235,16,32,237.656,25,3,0,0,2
699,28,2018-05-31,291,31,40,237.656,25,1,1,1,2

In [19]:
def extract_month(x):
    return x.month

In [27]:
data['Date'][0].day_of_week

1

In [21]:
data['Month Value'] = data['Date'].apply(extract_month)
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...
695,10,2018-05-23,179,22,40,237.656,22,2,2,0,8,5
696,6,2018-05-23,225,26,28,237.656,24,1,1,2,3,5
697,10,2018-05-24,330,16,28,237.656,25,2,0,0,8,5
698,23,2018-05-24,235,16,32,237.656,25,3,0,0,2,5
699,28,2018-05-31,291,31,40,237.656,25,1,1,1,2,5

In [29]:
def extract_day_of_week(x):
    return x.day_of_week

In [31]:
data['Day of the Week'] = data['Date'].apply(extract_day_of_week)
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,10,2018-05-23,179,22,40,237.656,22,2,2,0,8,5,2
696,6,2018-05-23,225,26,28,237.656,24,1,1,2,3,5,2
697,10,2018-05-24,330,16,28,237.656,25,2,0,0,8,5,3
698,23,2018-05-24,235,16,32,237.656,25,3,0,0,2,5,3
699,28,2018-05-31,291,31,40,237.656,25,1,1,1,2,5,3